body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    max-width: 960px;
}

.jumbotron h1 {
    font-size: 2.5rem;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 15px;
}
